raspberry/nodered-setup.json
[{"id":"fbc09ef3.fe2b4","type":"tab","label":"UI-control","disabled":false,"info":""},{"id":"c4ef795a.1a1798","type":"rpi-gpio in","z":"fbc09ef3.fe2b4","name":"","pin":"31","intype":"up","debounce":"160","read":false,"x":100,"y":520,"wires":[["8b4dbd92.3ba8b"]],"outputLabels":["hotter"]},{"id":"d7f93fe4.d19e2","type":"rpi-gpio in","z":"fbc09ef3.fe2b4","name":"","pin":"38","intype":"up","debounce":"160","read":false,"x":100,"y":620,"wires":[["7f04bfeb.32c51"]],"outputLabels":["colder"]},{"id":"660602b.e5fdefc","type":"function","z":"fbc09ef3.fe2b4","name":"+/- buttons","func":"const time = new Date();\nconst timer = 5000; //5s\nlet t = 0;\n\n\n/*if (global.get('last_tclick') && global.get('target_t') &&\n    time.getTime() > global.get('last_tclick')+timer) {\n        t = parseFloat(global.get(\"target_t\"));\n}\nelse if (global.get('wanted_t')) {\n    t = parseFloat(global.get('wanted_t'));\n}*/\nif (global.get('target_t')) {\n    t = parseFloat(global.get('target_t'));\n}\nelse {\n    return null;\n}\n\n\nif (msg.payload == \"hotter\") {\n   t += 0.5;\n} else if (msg.payload == \"colder\") {\n   t -= 0.5;\n}\nmsg.payload = t;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":560,"wires":[["769b1f4e.8db57","2b490bb9.921b94"]]},{"id":"769b1f4e.8db57","type":"debug","z":"fbc09ef3.fe2b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":600,"wires":[]},{"id":"8b5d29ed.18cdf8","type":"inject","z":"fbc09ef3.fe2b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":90,"y":260,"wires":[["ca776c0f.ea93e"]]},{"id":"833f6511.d93eb8","type":"rpi-gpio in","z":"fbc09ef3.fe2b4","name":"","pin":"32","intype":"up","debounce":"160","read":false,"x":100,"y":300,"wires":[["ca776c0f.ea93e"]]},{"id":"3f0b1a25.141e66","type":"function","z":"fbc09ef3.fe2b4","name":"cycle tabs","func":"let idx = global.get(\"tabIdx\") || 0;\nlet tabs = [0,1];\n\n\nif (msg.payload == 0)\n{\n    idx = tabs[idx+1] || (idx=0)\n    msg.payload =  {\"tab\" : idx};\n    global.set(\"tabIdx\",idx);\n    return msg;\n} \nelse\n{\n    return null\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":300,"wires":[["45ab3adc.afe2b4","caebff69.1a152"]]},{"id":"45ab3adc.afe2b4","type":"ui_ui_control","z":"fbc09ef3.fe2b4","name":"","events":"all","x":740,"y":300,"wires":[[]]},{"id":"933945bd.a72798","type":"comment","z":"fbc09ef3.fe2b4","name":"bottone per cambiare pagina","info":"","x":360,"y":260,"wires":[]},{"id":"d588fa22.fd88a8","type":"comment","z":"fbc09ef3.fe2b4","name":"bottoni temperatura","info":"","x":330,"y":480,"wires":[]},{"id":"e843fea3.bac23","type":"inject","z":"fbc09ef3.fe2b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":90,"y":580,"wires":[["7f04bfeb.32c51"]]},{"id":"3f929252.ecfd6e","type":"inject","z":"fbc09ef3.fe2b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":90,"y":480,"wires":[["8b4dbd92.3ba8b"]]},{"id":"c4f8f816.eb7c48","type":"link in","z":"fbc09ef3.fe2b4","name":"target_set","links":["e390f6c6.3920f8"],"x":455,"y":740,"wires":[["451e6032.43ae2"]]},{"id":"d0b60eef.47e4f","type":"ui_gauge","z":"fbc09ef3.fe2b4","name":"","group":"3402a073.ed7dc","order":1,"width":5,"height":3,"gtype":"gage","title":"{{label}}","label":"°C","format":"{{value}}","min":"15","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":780,"wires":[]},{"id":"2b490bb9.921b94","type":"ui_slider","z":"fbc09ef3.fe2b4","name":"","label":"","tooltip":"Imposta temperatura desiderata","group":"3402a073.ed7dc","order":3,"width":5,"height":1,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"15","max":"28","step":"0.5","x":790,"y":720,"wires":[["3acd863b.d42d6a","944d1341.8a1c2"]]},{"id":"2dbe58e6.1c40b8","type":"comment","z":"fbc09ef3.fe2b4","name":"slider termostato. Label dinamica!","info":"","x":290,"y":740,"wires":[]},{"id":"3acd863b.d42d6a","type":"change","z":"fbc09ef3.fe2b4","name":"setglobal target_t","rules":[{"t":"set","p":"target_t","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":700,"wires":[[]]},{"id":"451e6032.43ae2","type":"change","z":"fbc09ef3.fe2b4","name":"target","rules":[{"t":"set","p":"target_t","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":740,"wires":[["2b490bb9.921b94","d0b60eef.47e4f"]]},{"id":"5265333b.0d584c","type":"ui_button","z":"fbc09ef3.fe2b4","name":"","group":"3402a073.ed7dc","order":14,"width":3,"height":2,"passthru":true,"label":"OFF","tooltip":"Spegni climatizzazione","color":"{{txtcolor}}","bgcolor":"{{bgcolor}}","icon":"highlight_off","payload":"off","payloadType":"str","topic":"CMD/opmode","topicType":"str","x":730,"y":1180,"wires":[["cf9cba03.0ac4c8","81f0df7b.c7424"]]},{"id":"6242026d.6a53cc","type":"ui_button","z":"fbc09ef3.fe2b4","name":"","group":"3402a073.ed7dc","order":13,"width":3,"height":2,"passthru":true,"label":"Estate","tooltip":"Accendi condizionatore","color":"{{txtcolor}}","bgcolor":"{{bgcolor}}","icon":"blur_on","payload":"estate","payloadType":"str","topic":"CMD/opmode","topicType":"str","x":730,"y":1140,"wires":[["cf9cba03.0ac4c8","81f0df7b.c7424"]]},{"id":"5b07ad3f.ee7a74","type":"rpi-gpio in","z":"fbc09ef3.fe2b4","name":"","pin":"36","intype":"up","debounce":"180","read":false,"x":100,"y":960,"wires":[["fab597e4.408968"]]},{"id":"15a4b45a.ac6abc","type":"function","z":"fbc09ef3.fe2b4","name":"cycle modes","func":"let modes = [\"inverno\", \"estate\", \"off\"];\n//node.warn(global.get('opmode'));\nlet prev = modes.indexOf((global.get('opmode') || 2));\nlet next = prev+1 > modes.length-1 ? 0 : prev+1;\n\n//node.warn(prev);\n//node.warn(next);\n\nreturn [\n    next==0 ? {payload:0} : null,\n    next==1 ? {payload:0} : null,\n    next==2 ? {payload:0} : null\n    ];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":530,"y":1100,"wires":[["636d500.4ba87b","f35187d8.76a548"],["6242026d.6a53cc","636d500.4ba87b"],["636d500.4ba87b","5265333b.0d584c"]]},{"id":"989a28f.4bafcd8","type":"comment","z":"fbc09ef3.fe2b4","name":"bottone per cambiare modalità","info":"","x":340,"y":920,"wires":[]},{"id":"bb68c74e.d05648","type":"inject","z":"fbc09ef3.fe2b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":90,"y":920,"wires":[["fab597e4.408968"]]},{"id":"636d500.4ba87b","type":"debug","z":"fbc09ef3.fe2b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"active","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":1160,"wires":[]},{"id":"70ab59e6.fdcfd8","type":"function","z":"fbc09ef3.fe2b4","name":"page selector","func":"let tabIndex = global.get(\"tabIdx\") || 0;\n\nif (tabIndex == 0) //termostato\n{\n    return [msg, null];\n} \nelse if (tabIndex == 1) //storico\n{\n    return [null, msg];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":520,"y":960,"wires":[["15a4b45a.ac6abc","7dd4902e.7ce53"],["c2320a1f.a4a3f8","9dd24d14.97c4c"]]},{"id":"4e777553.e5067c","type":"comment","z":"fbc09ef3.fe2b4","name":"pagina termostato","info":"","x":150,"y":1140,"wires":[]},{"id":"c2320a1f.a4a3f8","type":"link out","z":"fbc09ef3.fe2b4","name":"period-cycke","links":["b706282f.651158"],"x":715,"y":980,"wires":[]},{"id":"a54be65b.39a7e8","type":"comment","z":"fbc09ef3.fe2b4","name":"pagina storici","info":"","x":810,"y":980,"wires":[]},{"id":"9dd24d14.97c4c","type":"debug","z":"fbc09ef3.fe2b4","name":"se tab 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":1020,"wires":[]},{"id":"425bd838.3e8fa8","type":"comment","z":"fbc09ef3.fe2b4","name":"PINOUT","info":"gruppo 1:\n31 GPIO 6 --------------> hotter\n33 GPIO 13 (PWM1)\n35 GPIO 19 (PCM FS)\n37 GPIO 26\n\ngruppo 2:\n\n32 GPIO 12 (PWM0) -------> cycle tabs\n34 Ground\n36 GPIO 16 --------------> mode selector\n38 GPIO 20 (PCM DIN) ----> colder\n\n\npulsantiera:\n32 Cambio pagina\n34 GROUND\n36 Cambio modalità\n38 Diminuzione\n31 Aumento\n33\n35\n37\n","x":1140,"y":80,"wires":[]},{"id":"7dd4902e.7ce53","type":"debug","z":"fbc09ef3.fe2b4","name":"se tab 0","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":920,"wires":[]},{"id":"caebff69.1a152","type":"debug","z":"fbc09ef3.fe2b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":340,"wires":[]},{"id":"b6631df2.2e747","type":"change","z":"fbc09ef3.fe2b4","name":"","rules":[{"t":"set","p":"tabIdx","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":80,"wires":[[]]},{"id":"9440d7cc.268508","type":"hidden-ui-load","z":"fbc09ef3.fe2b4","group":"77d2be06.c8c0e","order":0,"name":"tab 0","x":90,"y":80,"wires":[["b6631df2.2e747"]]},{"id":"87d2d8e2.f35588","type":"change","z":"fbc09ef3.fe2b4","name":"","rules":[{"t":"set","p":"tabIdx","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":120,"wires":[[]]},{"id":"3652781d.d0fdd8","type":"hidden-ui-load","z":"fbc09ef3.fe2b4","group":"8ec8dd1d.89ab5","order":0,"name":"tab 1","x":90,"y":120,"wires":[["87d2d8e2.f35588"]]},{"id":"9c2ad3cc.64be7","type":"link out","z":"fbc09ef3.fe2b4","name":"bt_tabs","links":["5bfcac1b.d92894","838e1071.7140c"],"x":395,"y":300,"wires":[]},{"id":"191c1c7e.a04f94","type":"link out","z":"fbc09ef3.fe2b4","name":"bt_+","links":["5bfcac1b.d92894","838e1071.7140c"],"x":355,"y":520,"wires":[]},{"id":"f7141335.49d08","type":"link out","z":"fbc09ef3.fe2b4","name":"bt_-","links":["5bfcac1b.d92894","838e1071.7140c"],"x":355,"y":620,"wires":[]},{"id":"1690e9ce.8119f6","type":"link out","z":"fbc09ef3.fe2b4","name":"bt_s","links":["5bfcac1b.d92894","838e1071.7140c"],"x":355,"y":960,"wires":[]},{"id":"ca776c0f.ea93e","type":"change","z":"fbc09ef3.fe2b4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"tabs","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":300,"wires":[["9c2ad3cc.64be7"]]},{"id":"f76c281a.16a188","type":"exec","z":"fbc09ef3.fe2b4","command":"sudo kill -9 ","addpay":true,"append":"","useSpawn":"false","timer":"2","oldrc":false,"name":"","x":810,"y":1400,"wires":[[],["4316c7cc.fcd5e8"],[]]},{"id":"838e1071.7140c","type":"link in","z":"fbc09ef3.fe2b4","name":"exec","links":["1690e9ce.8119f6","191c1c7e.a04f94","9c2ad3cc.64be7","f7141335.49d08"],"x":55,"y":1420,"wires":[["d5216f43.b1b98","bbad4ba5.e436a8"]]},{"id":"d5216f43.b1b98","type":"process-list","z":"fbc09ef3.fe2b4","name":"cerca feh","taskname":"feh","searchfield":"name&cmdline","jsonformat":true,"x":220,"y":1420,"wires":[["b368a7cb.dc7e88","cdd5bf67.df706"]]},{"id":"b368a7cb.dc7e88","type":"debug","z":"fbc09ef3.fe2b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"processlist","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":1500,"wires":[]},{"id":"fcc7d5c3.a99298","type":"switch","z":"fbc09ef3.fe2b4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"tabs","vt":"str"},{"t":"eq","v":"t+","vt":"str"},{"t":"eq","v":"t-","vt":"str"},{"t":"eq","v":"sel","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":730,"y":1480,"wires":[["27aa9cea.fab914","22553573.54a8ca"],["f07f0e56.33d67","22553573.54a8ca"],["56855903.4abb78","22553573.54a8ca"],["f846eabd.819618","22553573.54a8ca"]]},{"id":"27aa9cea.fab914","type":"link out","z":"fbc09ef3.fe2b4","name":"exec_tabs","links":["f08091a3.a9408"],"x":1015,"y":1440,"wires":[]},{"id":"f07f0e56.33d67","type":"link out","z":"fbc09ef3.fe2b4","name":"exec_t+","links":["ace2fd6b.b0c19"],"x":975,"y":1460,"wires":[]},{"id":"56855903.4abb78","type":"link out","z":"fbc09ef3.fe2b4","name":"exec_t-","links":["d8159b09.179e18"],"x":935,"y":1480,"wires":[]},{"id":"f846eabd.819618","type":"link out","z":"fbc09ef3.fe2b4","name":"exec_sel","links":["d8d12f58.7415b"],"x":895,"y":1500,"wires":[]},{"id":"d9c4a84f.002138","type":"comment","z":"fbc09ef3.fe2b4","name":"Screensaver management","info":"","x":110,"y":1340,"wires":[]},{"id":"f08091a3.a9408","type":"link in","z":"fbc09ef3.fe2b4","name":"act_tabs","links":["27aa9cea.fab914"],"x":455,"y":300,"wires":[["3f0b1a25.141e66"]]},{"id":"ace2fd6b.b0c19","type":"link in","z":"fbc09ef3.fe2b4","name":"act_t+","links":["f07f0e56.33d67"],"x":395,"y":520,"wires":[["660602b.e5fdefc"]]},{"id":"d8159b09.179e18","type":"link in","z":"fbc09ef3.fe2b4","name":"act_t-","links":["56855903.4abb78"],"x":395,"y":620,"wires":[["660602b.e5fdefc"]]},{"id":"d8d12f58.7415b","type":"link in","z":"fbc09ef3.fe2b4","name":"act_sel","links":["f846eabd.819618"],"x":395,"y":960,"wires":[["70ab59e6.fdcfd8"]]},{"id":"3d5b10ad.38aa5","type":"debug","z":"fbc09ef3.fe2b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"processlist[0].pid","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":1360,"wires":[]},{"id":"bbad4ba5.e436a8","type":"debug","z":"fbc09ef3.fe2b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":120,"y":1460,"wires":[]},{"id":"c980decb.cc36a","type":"debug","z":"fbc09ef3.fe2b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":1500,"wires":[]},{"id":"cdd5bf67.df706","type":"function","z":"fbc09ef3.fe2b4","name":"c'è?","func":"if (msg.processlist == \"\")\n{\n    return [null, msg];\n}\nelse\n{\n    return [msg, null];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":390,"y":1420,"wires":[["3d5b10ad.38aa5","1ffb4d17.c82033"],["c980decb.cc36a","fcc7d5c3.a99298"]]},{"id":"1ffb4d17.c82033","type":"change","z":"fbc09ef3.fe2b4","name":"pid","rules":[{"t":"set","p":"payload","pt":"msg","to":"processlist[0].pid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1380,"wires":[["f76c281a.16a188","e3457ce9.40809"]]},{"id":"e3457ce9.40809","type":"exec","z":"fbc09ef3.fe2b4","command":"export DISPLAY=:0; xset s reset","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":870,"y":1340,"wires":[[],["4316c7cc.fcd5e8"],[]]},{"id":"4316c7cc.fcd5e8","type":"debug","z":"fbc09ef3.fe2b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":1400,"wires":[]},{"id":"1305955a.2c7bbb","type":"debug","z":"fbc09ef3.fe2b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":1220,"wires":[]},{"id":"22553573.54a8ca","type":"debug","z":"fbc09ef3.fe2b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":1540,"wires":[]},{"id":"feb7828c.29cd3","type":"debug","z":"fbc09ef3.fe2b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":800,"wires":[]},{"id":"6f3b36c5.41abc8","type":"serial out","z":"fbc09ef3.fe2b4","name":"ttyAMA0","serial":"60442a04.dc0634","x":1240,"y":1160,"wires":[]},{"id":"c2838c82.2f198","type":"serial out","z":"fbc09ef3.fe2b4","name":"ttyAMA0","serial":"60442a04.dc0634","x":1180,"y":740,"wires":[]},{"id":"944d1341.8a1c2","type":"function","z":"fbc09ef3.fe2b4","name":"json","func":"msg.payload = { \"topic\": \"CMD\", \n                 \"data\": {\"target_t\": msg.payload}\n                };\n        \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":740,"wires":[["c2838c82.2f198","feb7828c.29cd3"]]},{"id":"25ea9a7a.9cbe06","type":"function","z":"fbc09ef3.fe2b4","name":"json","func":"msg.payload = { \"topic\": \"CMD\", \n                 \"data\": {\"opmode\": msg.payload}\n                };\n        \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":1160,"wires":[["6f3b36c5.41abc8","1305955a.2c7bbb"]]},{"id":"7941874.c372378","type":"ui_text","z":"fbc09ef3.fe2b4","group":"3402a073.ed7dc","order":2,"width":6,"height":1,"name":"mode","label":"Modalità impostata: ","format":"&nbsp;{{msg.payload}}","layout":"row-left","x":1010,"y":1040,"wires":[]},{"id":"2e3fdf68.4938a","type":"debug","z":"fbc09ef3.fe2b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":860,"wires":[]},{"id":"8b4dbd92.3ba8b","type":"function","z":"fbc09ef3.fe2b4","name":"filter","func":"if (msg.payload == 0) {\n    msg.payload = \"hotter\"\n    msg.topic = \"t+\"\n    return msg\n}\nelse {\n    return null\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":520,"wires":[["191c1c7e.a04f94"]]},{"id":"7f04bfeb.32c51","type":"function","z":"fbc09ef3.fe2b4","name":"filter","func":"if (msg.payload == 0) {\n    msg.payload = \"colder\"\n    msg.topic = \"t-\"\n    return msg\n}\nelse {\n    return null\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":620,"wires":[["f7141335.49d08"]]},{"id":"fab597e4.408968","type":"function","z":"fbc09ef3.fe2b4","name":"filter","func":"if (msg.payload == 0) {\n    msg.topic = \"sel\"\n    return msg\n}\nelse {\n    return null\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":960,"wires":[["1690e9ce.8119f6"]]},{"id":"15389a28.5fc4d6","type":"catch","z":"fbc09ef3.fe2b4","name":"","scope":["d5216f43.b1b98"],"uncaught":false,"x":190,"y":1380,"wires":[["d5216f43.b1b98"]]},{"id":"5a2c934c.6d61ac","type":"inject","z":"fbc09ef3.fe2b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sel","payload":"","payloadType":"date","x":350,"y":1100,"wires":[["15a4b45a.ac6abc"]]},{"id":"8534e084.63f91","type":"change","z":"fbc09ef3.fe2b4","name":"setglobal mode","rules":[{"t":"set","p":"opmode","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1120,"wires":[["7941874.c372378","e1b77752.df10f8"]]},{"id":"f35187d8.76a548","type":"ui_button","z":"fbc09ef3.fe2b4","name":"","group":"3402a073.ed7dc","order":12,"width":3,"height":2,"passthru":true,"label":"Inverno","tooltip":"Accendi caldaia","color":"{{txtcolor}}","bgcolor":"{{bgcolor}}","icon":"wb_sunny","payload":"inverno","payloadType":"str","topic":"CMD/opmode","topicType":"str","x":740,"y":1100,"wires":[["cf9cba03.0ac4c8","81f0df7b.c7424"]]},{"id":"cf9cba03.0ac4c8","type":"debug","z":"fbc09ef3.fe2b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":1200,"wires":[]},{"id":"81f0df7b.c7424","type":"function","z":"fbc09ef3.fe2b4","name":"filter","func":"if (msg.style) {\n    return null\n}\nelse {\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":1140,"wires":[["8534e084.63f91","25ea9a7a.9cbe06"]]},{"id":"e1b77752.df10f8","type":"function","z":"fbc09ef3.fe2b4","name":"style","func":"let modes = [\"inverno\", \"estate\", \"off\"];\nlet act = modes.indexOf((global.get('opmode') || 2));\n\nfunction style(act, button) {\n\n    return {payload: null,\n            style:   true,\n            bgcolor: button==act ? \"#1A4D51\" : \"#26747A\",\n            txtcolor:button==act ? \"#C6C6C6\" : \"#FFFFFF\" };\n            \n}\n\nreturn [\n    style(act, 0),\n    style(act, 1),\n    style(act, 2)\n    ];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":550,"y":1200,"wires":[["f35187d8.76a548"],["6242026d.6a53cc"],["5265333b.0d584c"]]},{"id":"3402a073.ed7dc","type":"ui_group","name":"Termostato","tab":"a85b72d6.79f5e","order":4,"disp":false,"width":"11","collapse":false},{"id":"77d2be06.c8c0e","type":"ui_group","name":"Grafici","tab":"a85b72d6.79f5e","order":1,"disp":false,"width":22,"collapse":false},{"id":"8ec8dd1d.89ab5","type":"ui_group","name":"storici","tab":"62e8f21b.e7b5dc","order":1,"disp":true,"width":"25","collapse":false},{"id":"60442a04.dc0634","type":"serial-port","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"500"},{"id":"a85b72d6.79f5e","type":"ui_tab","name":"temostato 0","icon":"exposure","order":1,"disabled":false,"hidden":false},{"id":"62e8f21b.e7b5dc","type":"ui_tab","name":"storico 1","icon":"timeline","order":3,"disabled":false,"hidden":false}]
